<div class="p-grid p-fluid">
    <div class="p-col-12 p-md-4">
        <h4>Daas</h4>

        <p-tree [value]="daasTreeNode" [draggableNodes]="true" [droppableNodes]="true" droppableScope="c"
            selectionMode="checkbox" draggableScope="a"></p-tree>
    </div>

    <div class="p-col-12 p-md-4">
        <h4>MicroService</h4>

        <p-tree [value]="microServiceTreeNode" [draggableNodes]="true" [droppableNodes]="true" droppableScope="a"
            draggableScope="a"></p-tree>
    </div>

</div>