<div class="p-grid p-fluid">
    <div class="p-col-12 p-md-4">
        <h4>Files</h4>
        <p>Can transfer to Server S2</p>
        <p-tree [value]="treeNodeSource" 
        [draggableNodes]="true" 
        [droppableNodes]="true" 
        droppableScope="c"
         selectionMode="checkbox"
        draggableScope="a"></p-tree>
    </div>

    <!-- <div class="p-col-12 p-md-4">
        <h4>Server 1</h4>
        <p>Can transfer to Files</p>
        <p-tree [value]="files3" [draggableNodes]="true" [droppableNodes]="true" droppableScope="a"
        draggableScope="a"></p-tree>
    </div>

    <div class="p-col-12 p-md-4">
        <h4>Server 2</h4>
        <p>Can transfer to Server 1</p>
        <p-tree [value]="files4" [draggableNodes]="true" [droppableNodes]="true" droppableScope="a"
        draggableScope="c"></p-tree>

    </div> -->

</div>